In [1]:
import numpy as np
import pandas as pd
import mysql.connector as sql
import matplotlib.pyplot as plt
import seaborn as sns
from geopy.geocoders import Nominatim as nm
import folium as fm
from folium.plugins import MarkerCluster
from tqdm.notebook import tqdm

#%matplotlib qt

In [2]:
#IMPORTING ALL THREE DATA FRAMES 
df1 = pd.read_csv('events_data.csv')
server = sql.connect(host='cpanel.insaid.co', database='Capstone1', user='student', password='student')

df2 = pd.read_sql('SELECT * FROM gender_age_train', con=server)
df3 = pd.read_sql('SELECT * FROM phone_brand_device_model', con=server)
server.close

#ADDITIONAL REQUIRED INFO
eng_names = np.array([['华为','Huawei'],
                      ['小米','Xiaomi'],
                      ['三星','Samsung'],
                      ['vivo','vivo'],
                      ['OPPO','OPPO'],
                      ['魅族','Meizu'],
                      ['酷派','Coolpad'],
                      ['乐视','LeEco'],
                      ['联想','Lenovo'],
                      ['HTC','HTC']])

In [3]:
# Some output formatting assistance
def line_break():
    print('-------------------------------------------------------------------------------------')



# Check 1 - Whether longitude and latitude are always missing in pairs:
# This code creates two dataframes, containing the index values (row numbers) of the rows where either one is missing, and then checks if the two dataframes are identical.
# If they are identical, then they are always missing in pairs.
Check1 = df1[df1['latitude'].isnull()].index.equals(df1['longitude'].isnull().index)
print("Check 1 - Latitude and Longitude are always missing in pairs - " + str(Check1))

line_break()

# Check 2 - Whether each city only exists in one state
# This code creates a dataframe containing unique city-state pairs, and the length of this dataframe is compared to the number of unique cities.
# If they are of different length, then we cannot calculate the state using the city
city_state_pairs = df1[df1['state'].notnull()][['city','state']].drop_duplicates()
unique_cities = df1['city'].nunique()
print('Check 2 - There are ' + str(len(city_state_pairs)) + ' unique city-state pairs, and ' + str(unique_cities) + ' unique cities')
#These two numbers are not equal. This means that some cities are present in multiple states. To verify:
city_state_pairs['city'].value_counts()[0:11]

line_break()

# Check 3 - Whether we can use coordinates to find the state
Check3a = df1[df1['latitude'].isnull()].index.tolist()
Check3b = df1[df1['state'].isnull()].index.tolist()
for i in Check3a:
    if i in Check3b:
        print('Check 3 - In row ' + str(i) + ', both the coordinates and the city are missing')
# This prints nothing; therefore, we can use coordinates to find the city.
# This is foolproof, as each coordinate pair MUST refer to only one state

line_break()

# Check 4 - Keep track of number of unique entries in "state"
# After adding the states using geopy, if the syntax is wrong, then this will help detect that:
print('Check 4 - There are ' + str(df1['state'].nunique()) + ' unique entries in the "state" column.')

Check 1 - Latitude and Longitude are always missing in pairs - False
-------------------------------------------------------------------------------------
Check 2 - There are 943 unique city-state pairs, and 933 unique cities
-------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------
Check 4 - There are 32 unique entries in the "state" column.

In [4]:
# This is a list containing the index values of all rows where state is a null value.
null_records = df1[df1['state'].isnull()].index.tolist()
# This section of code fills in those values via geopy and a loop over the rows with null values
geolocator = nm(user_agent="my-applications")
for i in null_records:
    location = geolocator.reverse([df1.at[i,'latitude'],df1.at[i,'longitude']])
    # the code for location is taken from https://www.geeksforgeeks.org/python-remove-spaces-from-a-string/
    df1.at[i,'state'] = location.raw['address'].get('state', '').replace(' ','')

print(df1['state'].nunique())

## THIS DOES THE FILTERING FOR MAHARASHTRA
#df1 = df1[df1['state'] == "Maharashtra"]

32

In [6]:
df1.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   event_id   3252950 non-null  int64
 1   device_id  3252497 non-null  float64
 2   timestamp  3252950 non-null  object
 3   longitude  3252527 non-null  float64
 4   latitude   3252527 non-null  float64
 5   city       3252950 non-null  object
 6   state      3252950 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

In [15]:
# Studying the null values in the coordinates. 
# This dataframe contains only the rows with null values in the coordinates
t1 = df1[df1['longitude'].isnull()]
print(t1.info())
line_break()
# This shows the device_ids present in the records with missing coordinates. 
# For MHA, there are 3 missing ids with 21 missing coordinates each. For all-India, there are 21 missing ids with 14-22 missing coordinates each.
print(t1['device_id'].value_counts())
# This stores the unique device_ids, so we can study them across the whole database.
bad_coords_id = t1['device_id'].value_counts().index

<class 'pandas.core.frame.DataFrame'>
Int64Index: 423 entries, 8015 to 3249260
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   event_id   423 non-null    int64
 1   device_id  423 non-null    float64
 2   timestamp  423 non-null    object
 3   longitude  0 non-null      float64
 4   latitude   0 non-null      float64
 5   city       423 non-null    object
 6   state      423 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 26.4+ KB
None
-------------------------------------------------------------------------------------
 3.058488e+17    22
 4.580179e+18    22
 4.375040e+18    22
 1.779631e+18    21
-8.790560e+18    21
 5.115185e+18    21
 7.018600e+18    21
 3.738280e+18    21
 5.731369e+18    21
 4.782582e+18    21
 2.350979e+18    21
 7.662139e+18    21
-6.033798e+18    21
 5.518660e+18    21
 5.375599e+18    21
-7.364841e+18    21
 7.983871e+18    21
 4.865607e+18    21
 1.320051e+18    14
 6.774071e+18    14
 3.099169e+18    14
Name: device_id, dtype: int64

In [17]:
# These count the number of unique coordinate pairs that the device_ids have across the whole database
# Note that each of the device_ids has one unique coordinate pair associated with it across ALL records. This means that the device was used from the same location all the time
# There are multiple hundred rows for each device_id with the coordinates present, so we can safely substitute the missing values with the device_id's coordinates.
for i in range(0,len(bad_coords_id)):
    print(df1[df1['device_id'] == bad_coords_id[i]][['latitude','longitude']].value_counts())
    print(df1[df1['device_id'] == bad_coords_id[i]][['latitude','longitude']].info())
    line_break()

latitude   longitude
26.987566  75.865534    560
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 582 entries, 1497 to 3240541
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   560 non-null    float64
 1   longitude  560 non-null    float64
dtypes: float64(2)
memory usage: 13.6 KB
None
-------------------------------------------------------------------------------------
latitude  longitude
26.96022  75.835756    599
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 621 entries, 813 to 3251871
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   599 non-null    float64
 1   longitude  599 non-null    float64
dtypes: float64(2)
memory usage: 14.6 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
26.980345  75.824489    577
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 599 entries, 8403 to 3238401
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   577 non-null    float64
 1   longitude  577 non-null    float64
dtypes: float64(2)
memory usage: 14.0 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
28.738901  77.235416    2736
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2757 entries, 1001 to 3246983
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   2736 non-null   float64
 1   longitude  2736 non-null   float64
dtypes: float64(2)
memory usage: 64.6 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
22.761965  75.933778    789
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 810 entries, 435 to 3244293
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   789 non-null    float64
 1   longitude  789 non-null    float64
dtypes: float64(2)
memory usage: 19.0 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
18.556741  73.88868     1864
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1885 entries, 842 to 3252195
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   1864 non-null   float64
 1   longitude  1864 non-null   float64
dtypes: float64(2)
memory usage: 44.2 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
18.575747  73.926223    1894
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1915 entries, 822 to 3252657
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   1894 non-null   float64
 1   longitude  1894 non-null   float64
dtypes: float64(2)
memory usage: 44.9 KB
None
-------------------------------------------------------------------------------------
latitude  longitude
22.76201  75.937988    776
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 797 entries, 298 to 3252573
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   776 non-null    float64
 1   longitude  776 non-null    float64
dtypes: float64(2)
memory usage: 18.7 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
13.153332  80.343613    3492
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3513 entries, 3 to 3252099
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   3492 non-null   float64
 1   longitude  3492 non-null   float64
dtypes: float64(2)
memory usage: 82.3 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
28.718379  77.22522     2878
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2899 entries, 1094 to 3251914
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   2878 non-null   float64
 1   longitude  2878 non-null   float64
dtypes: float64(2)
memory usage: 67.9 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
22.745063  75.888474    770
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 791 entries, 2953 to 3249260
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   770 non-null    float64
 1   longitude  770 non-null    float64
dtypes: float64(2)
memory usage: 18.5 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
13.149176  80.309272    3464
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3485 entries, 1120 to 3252717
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   3464 non-null   float64
 1   longitude  3464 non-null   float64
dtypes: float64(2)
memory usage: 81.7 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
17.816579  83.319787    1317
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1338 entries, 7321 to 3240322
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   1317 non-null   float64
 1   longitude  1317 non-null   float64
dtypes: float64(2)
memory usage: 31.4 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
17.817945  83.384242    1490
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1511 entries, 1758 to 3251575
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   1490 non-null   float64
 1   longitude  1490 non-null   float64
dtypes: float64(2)
memory usage: 35.4 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
28.718392  77.283447    3107
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3128 entries, 1048 to 3252230
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   3107 non-null   float64
 1   longitude  3107 non-null   float64
dtypes: float64(2)
memory usage: 73.3 KB
None
-------------------------------------------------------------------------------------
latitude  longitude
18.54074  73.931944    2604
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2625 entries, 1678 to 3251982
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   2604 non-null   float64
 1   longitude  2604 non-null   float64
dtypes: float64(2)
memory usage: 61.5 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
13.189053  80.335435    3398
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3419 entries, 14 to 3252584
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   3398 non-null   float64
 1   longitude  3398 non-null   float64
dtypes: float64(2)
memory usage: 80.1 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
17.772252  83.351442    1303
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1324 entries, 3886 to 3252003
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   1303 non-null   float64
 1   longitude  1303 non-null   float64
dtypes: float64(2)
memory usage: 31.0 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
26.211919  87.570736    482
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 496 entries, 7414 to 3244385
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   482 non-null    float64
 1   longitude  482 non-null    float64
dtypes: float64(2)
memory usage: 11.6 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
30.904178  75.268748    444
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 458 entries, 1151 to 3242517
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   444 non-null    float64
 1   longitude  444 non-null    float64
dtypes: float64(2)
memory usage: 10.7 KB
None
-------------------------------------------------------------------------------------
latitude   longitude
27.177397  84.1409      533
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 547 entries, 6298 to 3250536
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   533 non-null    float64
 1   longitude  533 non-null    float64
dtypes: float64(2)
memory usage: 12.8 KB
None
-------------------------------------------------------------------------------------

In [18]:
# Doing the substitution here
for i in range(0,len(bad_coords_id)):
    values = {}
    replacement = df1[df1['device_id'] == bad_coords_id[i]][['latitude','longitude']].value_counts().index[0]
    values['latitude'] = replacement[0]
    values['longitude'] = replacement[1]
    df1[df1['device_id'] == bad_coords_id[i]] = df1.fillna(value = values)
df1.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   event_id   3252950 non-null  int64
 1   device_id  3252497 non-null  float64
 2   timestamp  3252950 non-null  object
 3   longitude  3252950 non-null  float64
 4   latitude   3252950 non-null  float64
 5   city       3252950 non-null  object
 6   state      3252950 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB

In [19]:
# THIS BIT IS COMMENTED OUT FOR NOW, PENDING REVIEW FOR WHETHER THIS WORKS FOR ALL RECORDS RATHER THAN JUST MAHARASHTRA

# This takes out the 9 points outside of Maharashtra, based on folium visualization (removed that code, as it takes AGES). 
# The most eastern point of the 9 was in Kabul at ~69 longitude, so a cutoff of 72 is used here.

# df1 = df1[df1['longitude'] > 72]
# df1.info(show_counts=True)

In [ ]:
# Everything past this is under review.

#Let us assume that the coordinates and device_ids are one-to-one.

In [36]:
# a1 is full of unique triplets
a1 = df1[['device_id','longitude','latitude']].drop_duplicates()
a1.info()
# conclusion - 21 missing device_ids
df1['device_id'].drop_duplicates.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60907 entries, 0 to 3252798
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  60886 non-null  float64
 1   longitude  60907 non-null  float64
 2   latitude   60907 non-null  float64
dtypes: float64(3)
memory usage: 1.9 MB

453

In [23]:
# Check 5 - Whether each device_id has got a unique corresponding coordinate.
# Same number of coordinate entires after dropping duplicates even if we include device_id
# This means that the above check is True
print(df1.info(show_counts = True))
print(df1[['device_id','longitude','latitude']].drop_duplicates().info())
print(df1[['device_id']].drop_duplicates().info())
print(df1[['longitude','latitude']].drop_duplicates().info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   event_id   3252950 non-null  int64
 1   device_id  3252497 non-null  float64
 2   timestamp  3252950 non-null  object
 3   longitude  3252950 non-null  float64
 4   latitude   3252950 non-null  float64
 5   city       3252950 non-null  object
 6   state      3252950 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 173.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60907 entries, 0 to 3252798
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  60886 non-null  float64
 1   longitude  60907 non-null  float64
 2   latitude   60907 non-null  float64
dtypes: float64(3)
memory usage: 1.9 MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60866 entries, 0 to 3252798
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   device_id  60865 non-null  float64
dtypes: float64(1)
memory usage: 951.0 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 60869 entries, 0 to 3252798
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   longitude  60869 non-null  float64
 1   latitude   60869 non-null  float64
dtypes: float64(2)
memory usage: 1.4 MB
None

In [33]:
df1[['device_id','longitude','latitude']].drop_duplicates()['device_id'].nunique()
df1[df1['device_id'].notnull()][['longitude','latitude']].drop_duplicates()

         longitude   latitude
0        77.225676  28.730140
1        88.388361  22.660325
2        77.256809  28.757906
3        80.343613  13.153332
4        85.997745  23.842609
...            ...        ...
3251857  80.290241  13.150984
3252013  72.886717  19.049232
3252525  77.633307  13.065801
3252794  76.422242  26.947862
3252798  72.880402  18.999495

[60869 rows x 2 columns]

In [11]:
# Studying the null values in the device_ids. Yes, this is literally a duplicate of what was done for the coordinates.
# This dataframe contains only the rows with null values in device_id
t2 = df1[df1['device_id'].isnull()]
print(t2.info())
line_break()
# This shows the coordinate pairs that are present with missing device_ids. 
# Note that there are only 3 unique pairs, with 24 missing device_ids each.
print(t2[['longitude','latitude']].value_counts())
# This stores the 3 unique coordinate, so we can study them across the whole database.
bad_device_id = t2[['longitude','latitude']].value_counts().index

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72 entries, 45052 to 3135318
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   event_id   72 non-null     int64
 1   device_id  0 non-null      float64
 2   timestamp  72 non-null     object
 3   longitude  72 non-null     float64
 4   latitude   72 non-null     float64
 5   city       72 non-null     object
 6   state      72 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 4.5+ KB
None
-------------------------------------------------------------------------------------
longitude  latitude
73.860165  18.566925    24
73.862756  18.628057    24
73.926499  18.614812    24
dtype: int64

In [12]:
# These take the three aforementioned coordinate pairs and counts the device_id for each pair in the full database
# Note that for each pair, only one device_id turns up
# This means that for the 24 records missing device_ids, we can assume that the same device_id is used as for the hundreds of records at that coordinate which have device_id present.
print(df1.loc[(df1['longitude'] == bad_device_id[0][0]) & (df1['latitude'] == bad_device_id[0][1])]['device_id'].value_counts())
line_break()
print(df1.loc[(df1['longitude'] == bad_device_id[1][0]) & (df1['latitude'] == bad_device_id[1][1])][['device_id']].value_counts())
line_break()
print(df1.loc[(df1['longitude'] == bad_device_id[2][0]) & (df1['latitude'] == bad_device_id[2][1])][['device_id']].value_counts())

8.539871e+18    1793
Name: device_id, dtype: int64
-------------------------------------------------------------------------------------
device_id
9.027086e+18    1767
dtype: int64
-------------------------------------------------------------------------------------
device_id
1.771586e+17    1698
dtype: int64

In [13]:
# Doing the substitution here
for i in range(0,3):
    replacement = df1.loc[(df1['longitude'] == bad_device_id[i][0]) & (df1['latitude'] == bad_device_id[i][1])]['device_id'].value_counts().index[0]
    (df1.loc[(df1['longitude'] == bad_device_id[i][0]) & (df1['latitude'] == bad_device_id[i][1])]) = df1.fillna(value = replacement)
df1.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677159 entries, 9 to 3252946
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   event_id   677159 non-null  int64
 1   device_id  677159 non-null  float64
 2   timestamp  677159 non-null  object
 3   longitude  677159 non-null  float64
 4   latitude   677159 non-null  float64
 5   city       677159 non-null  object
 6   state      677159 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 57.5+ MB

In [16]:
df1['device_id'] = df1['device_id'].astype('int64')

In [52]:
df4 = pd.merge(left=df1,right=df2,how='left',on='device_id')

In [53]:
df4.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 677159 entries, 0 to 677158
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   event_id   677159 non-null  int64
 1   device_id  677159 non-null  int64
 2   timestamp  677159 non-null  object
 3   longitude  677159 non-null  float64
 4   latitude   677159 non-null  float64
 5   city       677159 non-null  object
 6   state      677159 non-null  object
 7   gender     3177 non-null    object
 8   age        3177 non-null    float64
 9   group      3177 non-null    object
dtypes: float64(3), int64(2), object(5)
memory usage: 56.8+ MB

In [47]:
w1 = np.zeros([74645,2],dtype='int64')
w1[:,0] = np.array(df2['device_id'].tolist())

In [48]:
for i in tqdm(range(0,len(w1[:,0]))):
    w1[i,1] = (df1['device_id'] == w1[i,0]).sum()

  0%|          | 0/74645 [00:00<?, ?it/s]

In [49]:
w1[:,1].sum()

3177

In [44]:
(df2['device_id'].tolist())

[-8076087639492063270,
 -2897161552818060146,
 -8260683887967679142,
 -4938849341048082022,
 245133531816851882,
 -1297074871525174196,
 236877999787307864,
 -8098239495777311881,
 176515041953473526,
 1596610250680140042,
 9032155484127182494,
 7477216237379271436,
 2478205222798310601,
 6352067998666467520,
 -7605360767281960867,
 1508636020748379883,
 4380872794486415327,
 -1039701474753771322,
 -6876541075223249434,
 6287938418661076759,
 -6029676723224952628,
 8026504930081700361,
 1118970699362079126,
 -7271319853104672050,
 -9216966316587614491,
 -4913644674161904021,
 2313145512701915151,
 4309468945717577632,
 -4547337748907986143,
 -7216269352973401877,
 -7303294878482532208,
 7630241409816671260,
 7106922851105968241,
 -5825546292084395293,
 5886404762741543631,
 3444770318780911055,
 3549658489155683094,
 -7360652256644378412,
 -3207654344601946580,
 -1279883160764317574,
 3014072209520807550,
 -2871140782885206484,
 -5070177130701218827,
 -1539979963116391306,
 -5349338524207284103,
 -147287084274333707,
 -5712152567169524766,
 -3305321723886863103,
 -800851341622326751,
 6870382681059864892,
 -1173303210238773591,
 6677393742805480020,
 1865480732945072123,
 336916678843446187,
 670584488453511085,
 5874501925603975585,
 -7058264257379185672,
 -7731743086143077949,
 -1457089681368225820,
 3098621662950438701,
 -3563791052716940236,
 -5348866880284858420,
 -4180524547237520433,
 -8428853393823283356,
 -6290480893520011063,
 6223951438363242934,
 -4370696809239943432,
 -6083834394280548453,
 -1246353335731124816,
 -6552729385743211,
 5938577683122528158,
 -3235628390898753137,
 -4144208717804687615,
 8844957623159520450,
 4156261305872406545,
 -6785797459639810711,
 -8080952034040064218,
 6354951364862886829,
 -7789505157081731608,
 8240579676061663826,
 5439866249778803748,
 -8140024683963050427,
 -360168846769617446,
 4049342567374065020,
 5660846220747791709,
 2346793034696706898,
 -4924030293291439654,
 1676196645503737870,
 4922799967163614958,
 -6571452454273901516,
 -2056729718209154009,
 404958689637790744,
 6895504244645409122,
 -7882183570062087941,
 5446913796434345063,
 -3859751359584472885,
 5662094349477792975,
 -4650666927489443566,
 3804056002627416258,
 -8266281880829904174,
 5973319239886062800,
 202462323314332621,
 7326636766251173655,
 -4144445179725470192,
 8907764229603533579,
 -5261054643656080753,
 3819716873588642183,
 4650021665055865662,
 -5441393164079058849,
 -8582139297114165642,
 7761134629352961054,
 6927671656924395665,
 5984369821078450685,
 2959524852145775517,
 -2114716321141097556,
 699478504411407472,
 -1872001393673636989,
 -4872982505937593114,
 -4430857349056469253,
 -5340398384027830118,
 1704840088089510706,
 -4246359349357769983,
 -8165550889984892199,
 4297455138616652485,
 -1747655920783302206,
 2275434704754261644,
 3752341244715056358,
 -754365920636902161,
 -5638884600299366389,
 4816687632811889210,
 593669313143296408,
 248228453883119456,
 8561987004157629214,
 -448645680703615976,
 -8887145707214349266,
 -7154614355022595143,
 -5352494765561872354,
 6203757811505041868,
 8213642428559590445,
 -8018890275127066945,
 7222366654900852519,
 6123790560434642813,
 8369299031756452885,
 -7861418408615064463,
 9146497636646056842,
 -2489556190686427591,
 -3274254800053988869,
 -8344622686419295900,
 -7464543035045993775,
 -2999736920417270580,
 3190702475320666496,
 6709821453224441026,
 6021983857045701513,
 -6494821234293367565,
 8749724299667578438,
 -3113143023563671753,
 -5028220390242257416,
 -3794473641159391327,
 3141753394038535319,
 -4917609465027922615,
 -1516688507910543815,
 4142956234059879708,
 -4917418725007279484,
 -7516440352534368031,
 6439649945388461116,
 -7348867500610951647,
 -8163914028422841035,
 1603640831768213530,
 -8003284722005509153,
 -5203038592600087183,
 -4810626615146220634,
 8862410784192965428,
 2939637043564785302,
 8753601250612921480,
 -5116656739499156887,
 -7646353414568593628,
 -5189881483734033534,
 -4996365611575224625,
 -6711641544479668924,
 6206722327442379463,
 3493988831547441804,
 4366005122372201003,
 1386963267590573431,
 -6330378243113796645,
 -7865367115690889902,
 -1858006844990046411,
 -3228486232941564156,
 -5602557068543221619,
 -1451022929123789871,
 7790659424525077194,
 8920285886738674998,
 -4852607865204248032,
 -2426517319208539667,
 -8249736197215467956,
 2270921318416256658,
 -1319995297521489561,
 9138019064415706007,
 -7319671561866655769,
 2978253634008558593,
 8061585136093547923,
 -8545729738118500183,
 1474139374992166898,
 1601488851299080757,
 8655869457573847114,
 3611992091268251668,
 4192900550916502009,
 7085696727020395428,
 -7040791784866622265,
 4329078646062358068,
 3456872842738035793,
 -2966512100134318742,
 2040535522516268215,
 -3310045835362138089,
 -4699662670867136082,
 -7548291590301750136,
 -7963397998932390299,
 -7082232536999173876,
 -6242893361006209354,
 -2415127400609093036,
 2894174233476843291,
 2977628559549884847,
 -2657430017797696536,
 4497817510933031170,
 2460194575250181595,
 -5872355609156227199,
 8069018087348622619,
 4948898765850983971,
 3147394884766951836,
 80935662153622052,
 -7945392883263043020,
 7021855019699124523,
 -766118996225706089,
 -900650310696232044,
 -8762995520315894664,
 5421267314514963969,
 -529046212852150867,
 -1895509578144570493,
 -2478156885124026620,
 -7279624854596091363,
 5692610091528369777,
 6562806239947577010,
 -7306135389406963510,
 5702872234734716353,
 6488610263167172153,
 -3529774277648147974,
 -6000733973296812644,
 2350979402202438478,
 -621174912844602038,
 -4153865198013987891,
 9219479903879163716,
 -2389013266016611875,
 6565337312089151336,
 6281195034868006293,
 -6065952695936634687,
 6391503609295653806,
 -3227288379325915241,
 9123392963738377798,
 -1938435110960608198,
 5636743222462110847,
 1540134249071138179,
 2844534599979001280,
 6327103640181623607,
 7507270603885968883,
 -565124306076115432,
 4419526128131778535,
 -5284404864046190914,
 2060749851566670252,
 -8593265039555205241,
 -6141801790803850097,
 -6492462980844783230,
 6775652294837141141,
 4258636597181710806,
 3235635318498361849,
 3163787231116816284,
 2824416853940964538,
 -4249929128118593776,
 6783516722606734308,
 -2777441777805531461,
 -5693154089237308179,
 -225262823313738339,
 2724015352885630840,
 -8448590394900141907,
 338283462287728873,
 4704542779027368284,
 1975516998960925196,
 7116779436642135828,
 8543316339499766821,
 6823319585575058469,
 583157140721431142,
 72999436528877253,
 7244527048146468873,
 -7799207332505443834,
 -4555256352171659738,
 9022373770725490123,
 1714287570154592293,
 -2141028849447517652,
 -3007290059075922008,
 6677898008001741134,
 2130490974990662039,
 -1791818818985507554,
 8724849398259744677,
 -2135911353025150071,
 -5977779196775749873,
 -9134556132023507861,
 -49730763913378432,
 1459080085082043728,
 7050857104490950917,
 -5401753062424811373,
 3604511296492842086,
 -3226520822719883647,
 -2094691511186450567,
 -4466935442609903897,
 -6785716032312317966,
 3500307892205027190,
 -1117454837751951991,
 8118936935913363277,
 -1357401245479679056,
 -318708851494203604,
 7610335843466648867,
 2320542621284956663,
 6348079742918185023,
 1444928900010815808,
 3744909594455282523,
 5255430446391714185,
 -7650841846815498584,
 -6797960682712450133,
 -8146966056838942606,
 -9153245537488288364,
 -360233945138979577,
 1663389245555042663,
 5805575799056444427,
 6448757979883417999,
 -954680535608637556,
 3654345234677910057,
 7562411939803512882,
 -2874573589030714776,
 -6652140857336427673,
 -3174514444476368200,
 8972321560616453482,
 -4935335315811963318,
 8276999935602524746,
 3402994260166624775,
 5108142823291112751,
 3471451329225031495,
 -6791581020624214971,
 -2094586929577583000,
 -2683545177557247024,
 -4214293157750794619,
 1459738584733677563,
 1469006017306955518,
 5297854804165140682,
 7231270196225939131,
 700830215931679317,
 -637891494492896017,
 8668918402869143275,
 1888521065893978058,
 2825141601023672167,
 4449470138586525722,
 -8366131750644256209,
 -3534551426935880265,
 1502461605760473195,
 -4771881468336909132,
 -5685117998885564353,
 8161044391542216225,
 -4198791070540130017,
 -8475312114246077271,
 1319324274909532362,
 -1177635519148501584,
 4189762977638537239,
 -3077937920672001811,
 -3244096424715237105,
 -4671788193261470496,
 113979950782839877,
 503143391156241086,
 -6042908553950254235,
 -345871495580169903,
 9106723912388896801,
 7284031010300954848,
 4032612108650097762,
 8352592309255706786,
 7705384213380232481,
 1123870157669170491,
 7921733448240571356,
 2399914927947537397,
 6277401130315436930,
 5441095450799834215,
 -4005849076109412284,
 -179790220800402751,
 7866598770427892860,
 -5493563917628184466,
 9203006693435653275,
 2355041056604318522,
 1411171847723420780,
 -6985934243613826863,
 7352701797930096128,
 8848742706511928763,
 -6583823906225667083,
 -7771398025617818409,
 -7691879765552453435,
 2464684863257435773,
 6604280119591140661,
 -20667435396379759,
 5581064628061795937,
 -8587610512543135636,
 5413704986152654312,
 3504563730603386282,
 6863112459383289362,
 3675909796369127445,
 -5317745724179407738,
 6423288831466633660,
 8312667491634467650,
 -8164663270002147627,
 -1759997501338681850,
 3036600127070433664,
 3603255247253715956,
 -6294981216321531814,
 -167571000635525578,
 -1045655858343636006,
 1255915588387999803,
 -9211636527106625314,
 6140506024248427109,
 3679272092861009086,
 1187259603731284031,
 -655444116637802254,
 2510851418746740937,
 -7702849433553367406,
 -7344170352548055641,
 -1176968711259010606,
 6427638870670310680,
 -4277494943660351916,
 -2213794781340645248,
 5112375494822102110,
 -4597930075539490849,
 -2176202895717029268,
 -4837437557348002889,
 678054189899995599,
 3634584596342582895,
 6242045993734232436,
 7497850677598683461,
 -3641970131210381534,
 8522618421597953014,
 -6018160454764528851,
 6788691223026392889,
 5785252018416191581,
 -6739684703749059557,
 -5066301088967309406,
 -3352337094847398864,
 3050020885746905033,
 7464518683724727658,
 4977791024608210667,
 6824596868855223630,
 -7044168722752090349,
 3344241795823208895,
 6703232543519770914,
 589557985088430288,
 8946598892027654292,
 -7083853366829402397,
 -2001567280649176448,
 646307682968211609,
 -4986392845443402625,
 -5487152191347785398,
 2662126988550136306,
 -6630551694025657184,
 7958696823479453960,
 9047713447193243097,
 -4307993308323975261,
 5861119094982137442,
 -4377371438971174786,
 -4374356101743562672,
 1442070159850622197,
 1352886169581418887,
 -1940964897031620305,
 6019832031671410230,
 2048082274046894024,
 -6032484110824395920,
 -1582252749329288852,
 6655529407431740036,
 -1474792823754483907,
 1029904277495989007,
 720756603628213494,
 6310961650826747907,
 2407358055337822629,
 -4217973406658219504,
 -5179541163565136976,
 -4551768034596689389,
 6356675767217309603,
 6008495818349839326,
 -2790183384476760306,
 9149103074456470249,
 1695761527019641539,
 -5383319989100702684,
 -8386606593312868092,
 4889327164992412585,
 -6153673241974140087,
 -2037634822852281255,
 -7096688265900000579,
 -8679605999382303581,
 -1983931105460838223,
 -3846422794537928556,
 -7120133646302952092,
 4573555264680860597,
 -9080632005894836087,
 5239934703976628317,
 -4093873478471274301,
 -3808211154648602735,
 -3528523897959651909,
 -5920211050759233549,
 -5177331251703379618,
 291962812379126626,
 -3861862675756404953,
 8353740206445735179,
 1163952773185536842,
 -873214840155221503,
 -6058512568653763470,
 -6868379650375898437,
 -2330036225904384801,
 1822607312031879171,
 3288693535742394934,
 3439985609749922150,
 -1688527666462535726,
 -2828331636363738843,
 -602351730740783793,
 1325987205615111172,
 -2802543599440680842,
 6090310796599938899,
 -5514406392341151487,
 3796280135236396817,
 332380340265563941,
 7123479605708697395,
 6026687977234910115,
 4505562063265677513,
 4981382137382970454,
 -236963596009956963,
 -229180280378644612,
 812521723479166670,
 4530013951351880954,
 1318303222997853851,
 5031308204970224592,
 7576677397230418334,
 7552099237693808316,
 1119943039459733860,
 8780875081637886518,
 1043546028888154415,
 -8295193153214873881,
 1874308258075089641,
 -184400817050772603,
 -7603777855807306454,
 -5181402337880396912,
 8134709830571845726,
 -7065078100475716045,
 552498749193063741,
 8761770737926125955,
 -4844946365893487136,
 -5000507903395027839,
 -244415756622179948,
 -3086495925588504008,
 4690577651905751454,
 1895275241111410061,
 4978373534460377887,
 2973015864073168250,
 2080579331913165589,
 8720083342483823841,
 2389384819016317481,
 -5611722417377626845,
 -557453964647696216,
 5980555560479015572,
 2772316738047304946,
 -6233661495000219593,
 8336875548926735477,
 -280792878984386324,
 -8665947049306807542,
 -4545977437136433255,
 -8382006046590136079,
 -5693598844768112670,
 1294088097492388254,
 -8556957033165979792,
 4603814831359865578,
 -2441997096530002111,
 -6877287750680911522,
 5993353186365951031,
 -429243268324577775,
 8068167578165647993,
 -476136805185072151,
 2239743897399916630,
 -6352016173918609049,
 -1225265882896385622,
 6103442463969172338,
 6607167843813496848,
 7567769845262808695,
 -6575679788532858282,
 -8373775120252184104,
 -3060960912794428756,
 -2263386497719973834,
 2425712196469098015,
 5819828849011388017,
 -4303306460426303766,
 -3151287449207977360,
 -6908175429289823652,
 7283212553045812974,
 3455329865379031063,
 8122538296654843910,
 6545829736541135762,
 -1352971490438520298,
 1830977800029584826,
 7589944181455401696,
 -4562868606216655042,
 -8267593724208020595,
 -4462949239456847644,
 8139979595744739956,
 4489130943120478197,
 7855796739862822440,
 -7232119701913724901,
 2916492334541429963,
 -8556224142279945015,
 8212624264342837651,
 5746873171138935874,
 -1889033480958016238,
 2195335594844094753,
 3307527014822292766,
 -7994663434773874663,
 4474091956427439415,
 -4100601935100144456,
 -8345182684710435434,
 4919779603258636370,
 -1954607149185073844,
 1756263286013259682,
 9207787349472356557,
 5688826388913067086,
 3934934395617094031,
 1356097039154028040,
 6239423502551981723,
 -6188687531249685859,
 -5762038527485744367,
 9184963992247652631,
 -7052719623154709360,
 5497917570934923139,
 5199501260865897629,
 4817078779940161981,
 -51750163801907850,
 1111484923755793372,
 4100316791460108477,
 -1891588492640041559,
 6531672631308745261,
 7766418226696443142,
 3821765784939856800,
 8427667165276516409,
 -5424968430956426798,
 -7324369287810342925,
 -1686327245264629942,
 -920676380266502164,
 -3132167788374472541,
 2566965360077727779,
 6341873412278035467,
 283151695342775598,
 -2405582520624040607,
 6452262489405534657,
 -3654173299440079718,
 -5533049833247758243,
 8567125034063848708,
 3129094543007770603,
 8802247658835316864,
 -6896857513293590628,
 7099572251426077823,
 4169579345658395579,
 -320934505147790930,
 -3711568206807815381,
 -2514012772375917529,
 4360315587716027479,
 -7783426489126424162,
 6901454746287513697,
 991137519522277857,
 2816058300929426287,
 -7284154769153384474,
 72619722599122472,
 -1633084237568254787,
 266598286759225880,
 -6403572455003976570,
 7504679594395103702,
 4789204688675568150,
 -2726030791460218136,
 -6777739487963556282,
 8429238081983048014,
 7105286326770848100,
 7825425485977209626,
 -5462293806292385274,
 -1847317782088679119,
 5615244592642498159,
 4871684940984050877,
 8497952435614723307,
 3608732192276702589,
 8512805238634502234,
 -1562096238246403266,
 -3164037806420057128,
 -3430460284808041981,
 4782818509742237099,
 -2801576702987903744,
 8525424737557216450,
 4899921266881369610,
 8336949864011006855,
 -5600730878380485214,
 -2470383375942730835,
 8737555301670840212,
 -2289980470972914582,
 8249445891956836787,
 6162372511985048741,
 -3282973596598697750,
 -8263208485823447044,
 -9177698159910455532,
 5203430653181720743,
 356520478854373064,
 7678236292142484082,
 492533159890295341,
 -4893865424406334764,
 -6864731714065740021,
 -22473684698194950,
 473071926003296712,
 -5729489580637816452,
 -7345618372322051389,
 1208777562949892492,
 385823142853736548,
 -4735382375325691891,
 -4417546389678328866,
 -295437681750492352,
 1557837677453886064,
 8325412457274125679,
 989663811919883179,
 8283059944440954104,
 -4950499031450221003,
 8659293525381562711,
 5491270369830480293,
 2877482175246871880,
 -2451484506636622166,
 3099930789019940676,
 -5316473273801260378,
 -6072435932733730305,
 1244924161226799900,
 -8170146072812130676,
 7837307528716148320,
 -1356902156255252339,
 -3898045713019773074,
 -3307135362322431632,
 4057329207163324453,
 -1315678062659181276,
 6680563250977345388,
 7469255792590954984,
 -1668558797524371503,
 -797597256965011700,
 -333661782897496896,
 -3216501563050439320,
 -1526622617359361955,
 7491319753979859549,
 1228607175978508824,
 -8519318732470795928,
 7651091592968734555,
 8556982416315216185,
 5953817662862883781,
 7781851798734733403,
 -5642148977702922033,
 -6629944130878284064,
 4689994512548055605,
 -1727737396078297139,
 -6381794413390699399,
 7729148314349457415,
 -1843450627111946877,
 -212191571026065176,
 -7204440477456772063,
 -3293430962013612634,
 -1701191455664527266,
 -9008782116598554138,
 -9170975645986902037,
 -3222540460345564171,
 -6527390788320723217,
 -1012430198114507471,
 -5926113374593677418,
 -2514431717601449853,
 7853842154200083534,
 3812807856177764023,
 -5238266931153652068,
 -5175023799434636793,
 -2506093401230353546,
 2266863185840545980,
 -3927753740422355517,
 6038400330950356320,
 -4861923574095466489,
 5225546985734145250,
 5087686479453039142,
 -3199904022391181984,
 -9015902738711771328,
 -6500915528694486429,
 -8657137191584682458,
 8680799468292419721,
 8597136060207936321,
 8507377938081140935,
 -6962276291057399691,
 -7315337515783864482,
 -8480612723734037982,
 7132583961483928399,
 6494711304418137334,
 -8708762219718085185,
 3499681829978537553,
 -1937027962234299179,
 2287449004006642352,
 5090980568587832805,
 5132236745990365339,
 -4948056472678477615,
 -3620183035368751296,
 -80890961266952041,
 7344017656613380338,
 4044377088870916300,
 1478614427793108417,
 5286209527709504485,
 -7603156713792745674,
 -8948604730896689003,
 -6159616074389647926,
 -6944850403989407181,
 -4289910579121086844,
 5045172159000923818,
 5538639933330181335,
 -7617685151173348252,
 -2703315791470163138,
 -4635718885908872270,
 -6277045911754478960,
 292388422999124365,
 183994177412136222,
 -392191544517964989,
 8967027104934729299,
 -3986205498977516561,
 4896346405754118344,
 3731254510534814503,
 -4457934313456075144,
 3323224665682418080,
 8345589946902328493,
 -157906997610294068,
 1246754910809577814,
 7850151920423137889,
 -7270983555904380477,
 -2032299682594442979,
 5175529330903576144,
 -2752255137220802139,
 8723726386147496851,
 -9213678250910037656,
 5792318609222075939,
 -1653968320381409651,
 -8525062716985904114,
 -4403132331924981466,
 -3038253900541182085,
 4465006065399441590,
 -3921032175008055462,
 -9108166834413909435,
 -5785549517154749158,
 -2117709885776195018,
 -4881520045668814888,
 -3700092966428543372,
 -7263158532285455472,
 5702194120117073420,
 -6364397269546030788,
 -9074342826934852586,
 2450659143939398183,
 4238217942089411968,
 -7360919511180965094,
 4002089199864991468,
 4292022177175958327,
 6393160991781673944,
 795012645021250899,
 -6915154084504417426,
 -8489604100420929617,
 1289101433025172253,
 7243077666234104014,
 -2238086445695076188,
 -6177909895992176604,
 1751625290040289236,
 -4629037064955879374,
 -7324284176025143564,
 8087051474883595330,
 2948104315232918320,
 3560320126855562014,
 -4677998128742123003,
 -4729208424104142676,
 6415778217417706992,
 -4561648003354275269,
 -3140509418035873758,
 -1177466799134942124,
 -198641742246695809,
 6944914800754391213,
 -3839135489065083823,
 4304661718896090612,
 -1745544203255217539,
 3185383259251337516,
 8709729329648745200,
 -4089459697901356877,
 -3571131509140729221,
 -1636404312341089367,